.button {
	background-color: #90007a;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.18s ease;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	&:hover {
		background-color: #600052;
	}
	padding: 8px 17px;
}